<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{asset('assets/app.css')}}">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>
    {{--  Switch kanan kiri  --}}
    <div x-data="{index:0}"
    class="h-screen py-20 px-36 w-full flex flex-row items-center bg-pink-400">
      <div class="h-20 w-36">
        <button class="border p-6" id="landingSlideKiri" @click="index--"><</button>
      </div>
      <div class="flex overflow-x-scroll hide-scroll-bar border" id="container-barang">
        <div class="space-x-8 flex flex-nowrap">
          <div x-show="index===0"
           class="inline-block border w-36 h-48 align-middle">a</div>
          <div x-show="index===1"
          class="inline-block border w-36 h-48 align-middle">b</div>
          <div x-show="index===2"
          class="inline-block border w-36 h-48 align-middle">c</div>
          <div x-show="index===3"
          class="inline-block border w-36 h-48 align-middle">d</div>
          <div x-show="index===4"
          class="inline-block border w-36 h-48 align-middle">e</div>
          <div x-show="index===5"
          class="inline-block border w-36 h-48 align-middle">f</div>
          <div x-show="index===6"
          class="inline-block border w-36 h-48 align-middle">g</div>
          <div x-show="index===7"
          class="inline-block border w-36 h-48 align-middle">h</div>
          <div x-show="index===8"
          class="inline-block border w-36 h-48 align-middle">i</div>
          <div x-show="index===9"
          class="inline-block border w-36 h-48 align-middle">j</div>
          <div x-show="index===10"
          class="inline-block border w-36 h-48 align-middle">k</div>
        </div>
      </div>
      <div class="h-20 w-36">
        <button class="border p-6" id="landingSlideKanan" @click="index++">></button>
      </div>
    </div>

    <div class="w-full p-8">
      <div class="border-2 border-blue-500 p-4 flex flex-row flex-wrap space-x-3 items-center">
        <div class="flex w-60 bg-blue-300 h-32 items-center justify-center">badan</div>
        <div class="flex w-60 bg-blue-300 h-32 items-center justify-center">badan</div>
        <div class="flex w-60 bg-blue-300 h-32 items-center justify-center">badan</div>
        <div class="flex w-60 bg-blue-300 h-32 items-center justify-center">badan</div>
        <div class="flex w-60 bg-blue-300 h-32 items-center justify-center">badan</div>
        <div class="flex w-60 bg-blue-300 h-32 items-center justify-center">badan</div>
        <div class="flex w-60 bg-blue-300 h-32 items-center justify-center">badan</div>
        <div class="flex w-60 bg-blue-300 h-32 items-center justify-center">badan</div>
        <div class="flex w-60 bg-blue-300 h-32 items-center justify-center">badan</div>
        <div class="flex w-60 bg-blue-300 h-32 items-center justify-center">badan</div>
        <div class="flex w-60 bg-blue-300 h-32 items-center justify-center">badan</div>
        <div class="flex w-60 bg-blue-300 h-32 items-center justify-center">badan</div>
      </div>
    </div>
    <script src="{{asset('assets/js/app.js')}}"></script>
</body>
</html>