@layout('layouts/master-test')
@section('content')
<main>
  <div class="container-fluid">
    <div class="w-full px-8 text-center">
      <div class="px-6 py-3 border border-gray-400 rounded-lg group hover:bg-blue-500 inline-block hover:border-transparent hover:shadow-lg space-y-2">
        <h1 class=" text-gray-900 text-xl font-semibold group-hover:text-yellow-200">Test</h1>
        <button class="px-9 py-2 rounded-md border bg-blue-500 group-hover:bg-white text-white group-hover:text-blue-500 font-semibold shadow-sm">Tombol</button>  
      </div>
    </div>
  </div>
</main>
@endsection
