@layout('layouts/master-test')
@section('content')
<main>
  <div class="container-fluid">
    <div class="w-full px-8 text-center">
      {{penggajian.penerimaGaji.nama}}
      {{ inspect(penggajian) }}

    </div>
  </div>
</main>
@endsection
