@layout('layouts/master')

@section('more-style')

@endsection

@section('content')
<div class="w-full p-8">
  <h2 class="text-4xl font-semibold">Menu Riwayat</h2>
  <div class=" bg-white mt-8 p-4 lg:p-8 lg:pb-40 shadow min:h-96">

  </div>
</div>
@endsection

@section('script')
<script src="{{asset('assets/app.js')}}"></script>
@endsection
