@layout('layouts/master')

@section('more-style')

@endsection

@section('content')
<div class="w-full p-8">
  <h2 class="text-4xl font-semibold">Test 1</h2>
  <div class=" bg-white mt-8 p-4 lg:p-8 lg:pb-40 shadow min:h-96 space-y-8">

    {{--  Kelompok jabatan  --}}
    <div class="space-y-4">
      <div class="mb-4">
        <h1 class="text-2xl font-semibold">Jabatan Pegawai</h1>
      </div>

      <div class="form-control" x-data="{ radio: 1 }">
        <label for="">Jenis Karyawan<span class="text-error"> *</span></label>
        <div class="flex space-x-4 mt-1 w-full md:w-96">
          <label class="cursor-pointer items-center py-2 flex-1 rounded-box px-4 border"
            :class="(radio == 1)? 'bg-primary bg-opacity-10 border-primary': 'bg-white border-secondary'">
            <input type="radio" name="jabatan" checked="checked" class="radio radio-primary hidden" value="umum"
              @click="radio = 1">
            <span class="label-text text-base" :class="(radio == 1)? 'text-primary': 'text-secondary'">Umum</span>
          </label>
          <label class="cursor-pointer items-center py-2 flex-1 rounded-box px-4 border"
            :class="(radio == 2)? ' bg-pink-500 bg-opacity-10 border-pink-500': 'bg-white border-secondary'">
            <input type="radio" name="jabatan" class="radio radio-primary hidden" value="khusus" @click="radio = 2">
            <span class="label-text text-base" :class="(radio == 2)? 'text-pink-500': 'text-secondary'">Khusus</span>
          </label>
        </div>
        <p class="mt-4 text-sm">Keterangan: Tipe karyawan ini hanya dapat melakukan pekerjaan umum seperti melayani
          penjualan dan pembelian, melihat laporan dan mencetak nota.</p>
      </div>

    </div>

    {{--  copas mulai dari sini  --}}
    <div class="space-y-4">
      <h1 class="text-2xl font-semibold">Gambar Bulet</h1>
      <div class=" max-w-sm">
        <p class="mb-2">Coba masukin data, trus ntar ke Enkripsi</p>
        <input type="file" id="bukafile" accept="image/*" class="hidden-but-real" hidden>

        <div class="my-6 avatar" id="gambarTest">
          <div class="w-52 h-52 rounded-full shadow-2xl">
            <img src="http://daisyui.com/tailwind-css-component-profile-1@94w.png">
          </div>
          <div class="absolute bottom-2 right-2 bg-primary w-12 h-12 rounded-full">
            <div class="flex w-full h-full items-center justify-center text-white">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                <path
                  d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
              </svg>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="divider opacity-20"></div>
    {{--  sampe sini  --}}

    {{--  copas mulai dari sini  --}}
    <div class="space-y-4" x-data="{ min:0, max:100 }">
      <h1 class="text-2xl font-semibold">Kalau mau pake opsi tabel</h1>
      <div class=" max-w-sm">
        <p class="mb-2">Kali aja kepake, dah kadung ribet bikinnya</p>
        <button class="btn btn-wide" id="aturTabel">Atur Tabel</button>
      </div>
    </div>
    <div class="divider opacity-20"></div>
    {{--  sampe sini  --}}

    {{--  copas mulai dari sini  --}}
    <div class="space-y-4" x-data="{ radio:0, input:0, bayar:900000, berat:2 }">
      <h1 class="text-2xl font-semibold">Potongan dua jenis (buat pembelian)</h1>
      {{--  keknya tetep enakan pake vanillaJS / jquery  --}}
      <div>
        <p class="mb-2">testcase: berat 2 gram, total transaksi 900.000</p>
        <div class="relative flex w-full flex-wrap items-stretch" x-cloak>
          <input type="radio" name="potongan" id="potongUang" class="hidden" @click="radio=0; input=0; bayar=900000">
          <input type="radio" name="potongan" id="potongPersen" class="hidden" @click="radio=1; input=0; bayar=900000">
          <div class=" overflow-hidden rounded-l-md btn-group absolute left-0">
            <label for="potongUang" :class="(radio==0)? 'text-white':'btn-outline'"
              class="btn btn-secondary rounded-none z-10 normal-case w-14">
              Rp.
            </label>
            <label for="potongPersen" :class="(radio==1)? 'text-white':'btn-outline'"
              class="btn btn-secondary rounded-none z-10 font-bold w-14">
              %
            </label>
          </div>

          {{--  bisa juga di sanitize lewat 'keyup' trus dibandingin sama parameternya, kalo ga cocok, slice paling belakang  --}}
          <input x-model="input" type="number" id="lamakerja-pegawai" name="lamakerja-pegawai"
            class="px-3 py-3 relative input input-secondary pl-32 " :class="(radio==1)? 'w-60':'w-full max-w-sm'"
            @focusout="input= ((radio == 0 && (input>bayar || input<0)) || (radio==1 && (input>100 || input<0)))? 0: input; (radio==1)? $refs.hasil.value=bayar-(bayar*input/100) : $refs.hasil.value=bayar-(input*berat)" />
        </div>
      </div>
      <div>
        <p class="mb-2">Setelah dipotong</p>
        <input type="text" name="" id="" x-ref="hasil" :value="bayar" x-cloak
          class="input input-secondary w-full max-w-sm">
      </div>
    </div>
    <div class="divider opacity-20"></div>
    {{--  sampe sini  --}}

    {{--  copas mulai dari sini  --}}
    <div class="space-y-4" x-data="{ min:0, max:100 }">
      <h1 class="text-2xl font-semibold">Prevent input ngelebihin maksimal lewat keyup</h1>
      <div class=" max-w-sm">
        <p class="mb-2">testcase: max 100, lebih jadi 100. min 0, kurang jadi 0</p>
        <input type="number" class="input input-secondary w-full" placeholder="isi angka kurang dari 100"
          @keyup="$el.value= ($el.value <= min)? 0: $el.value; $el.value= ($el.value > max)? 100: $el.value" />
      </div>
    </div>
    <div class="divider opacity-20"></div>
    {{--  sampe sini  --}}

    {{--  copas mulai dari sini  --}}
    <div class="space-y-4" x-data="{ min:0, max:100 }">
      <h1 class="text-2xl font-semibold">Prevent input ngelebihin maksimal lewat focusout</h1>
      <div class=" max-w-sm">
        <p class="mb-2">testcase: max 100, lebih jadi 100. min 0, kurang jadi 0</p>
        <input type="number" class="input input-secondary w-full" placeholder="isi angka kurang dari 100"
          @focusout="$el.value= ($el.value <= min)? 0: $el.value; $el.value= ($el.value > max)? 100: $el.value" />
      </div>
    </div>
    <div class="divider opacity-20"></div>
    {{--  sampe sini  --}}

    {{--  copas mulai dari sini  --}}
    <div class="space-y-4 w-2/3" x-data="{checked: false}">
      <h1 class=" text-2xl font-semibold">Collapse Form</h1>
      <div class="collapse w-full  collapse-arrow" :class="(checked)? '':'border-b-2 border-neutral'">
        <input type="checkbox" @change="($el.checked)? checked=true: checked=false; console.log(checked)">
        <div class="collapse-title text-2xl font-semibold true-bg-base-100"
          :class="(checked)? 'border-b-2 border-neutral mb-6': ''">
          Kepemilikan
        </div>
        <div class="collapse-content true-bg-base-100">
          {{--  Kelompok kepemilikan  --}}
          <div class="space-y-4">
            <div class="form-control">
              <label for="alamat-pegawai">
                <span class="">Nama Pembeli</span>
              </label>
              <input type="text" id="alamat-pegawai" name="alamat-pegawai" class="input input-secondary"
                placeholder="Contoh: Jl. Pemuda Kebaktian No.12, RT01/RW02 Semarang" value="Muhammad Arif Fadhilah">
            </div>

            <div class="form-control" x-data="{ radio: 1 }">
              <label for="">Gender Pembeli</label>
              <div class="flex space-x-4 mt-1 w-full sm:w-96">
                <label class="cursor-pointer items-center py-2 flex-1 rounded-box px-4 border"
                  :class="(radio == 1)? 'bg-white border-primary': 'bg-white border-secondary'">
                  <input type="radio" name="gender-pegawai" checked="checked" class="radio radio-primary hidden"
                    value="lakilaki" @click="radio = 1">
                  <span class="label-text text-base"
                    :class="(radio == 1)? 'text-primary': 'text-secondary'">Laki-laki</span>
                </label>
                <label class="cursor-pointer items-center py-2 flex-1 rounded-box px-4 border"
                  :class="(radio == 2)? 'bg-white border-primary': 'bg-white border-secondary'">
                  <input type="radio" name="gender-pegawai" class="radio radio-primary hidden" value="perempuan"
                    @click="radio = 2">
                  <span class="label-text text-base"
                    :class="(radio == 2)? 'text-primary': 'text-secondary'">Perempuan</span>
                </label>
              </div>
            </div>

            <div class="form-control">
              <label for="alamat-pegawai">
                <span class="">Rentang Usia Pembeli</span>
              </label>
              <select class="select select-bordered w-full max-w-xs">
                <option disabled="disabled" selected="selected">Rentang Usia</option>
                <option>Remaja</option>
                <option>Dewasa</option>
                <option>Lansia</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider opacity-20"></div>
    {{--  sampe sini  --}}

    {{--  copas mulai dari sini  --}}
    <div class="space-y-4">
      <h1 class="text-2xl font-semibold">Ngelempar URL yang ada query nya</h1>
      <div class=" max-w-md">
        <form action="/app/test/qs">
          <div class="space-y-4">
            <div class="form-control">
              <label for="nama">
                <span class="">Nama Pembeli</span>
              </label>
              <input type="text" id="nama" name="nama" class="input input-secondary" placeholder="Contoh: Bambang"
                value="Bambang">
            </div>
            <div class="form-control">
              <label for="alamat">
                <span class="">Alamat</span>
              </label>
              <input type="text" id="alamat" name="alamat" class="input input-secondary" placeholder="Contoh: Solo"
                value="Solo">
            </div>

            <div>
              <p class="mb-2 mt-8">Ni tombol bakal ada query panjang aneh dari form, trus kita coba baca datanya</p>
              <button type="submit" class="btn">Test Query String</button>
            </div>
          </div>
        </form>

      </div>
    </div>
    <div class="divider opacity-20"></div>
    {{--  sampe sini  --}}


    {{--  copas mulai dari sini  --}}
    <div class="space-y-4" x-data="{ min:0, max:100 }">
      <h1 class="text-2xl font-semibold">Decode gambar dari base64</h1>
      <div class=" max-w-sm">
        <p class="mb-2">datanya udah ada, ini cuma nyoba decode bawaan adonis</p>
        <form action="/app/test/base64Decode" method="POST">
          {{ csrfField() }}
          <textarea name="input" class="textarea textarea-bordered w-full h-48 overflow-y-auto"></textarea>

          @if(flashMessages.has('errors.input'))
          <p class="text-error"> {{ flashMessages.get('errors.input') }} </p>
          @elseif(flashMessages.has('unnaturalErrMsg'))
          <p class="text-error"> {{ flashMessages.get('unnaturalErrMsg') }} </p>
          @endif

          @if(flashMessages.has('successMsg'))
          <p class="text-success"> {{ flashMessages.get('successMsg') }} </p>
          @endif

          <button type="submit" class="btn mt-6">Simpan Ke File</button>
        </form>
      </div>
    </div>
    <div class="divider opacity-20"></div>
    {{--  sampe sini  --}}

    {{--  copas mulai dari sini  --}}
    <div class="space-y-4">
      <h1 class="text-2xl font-semibold">Enkripsi</h1>
      <div class=" max-w-sm">
        <p class="mb-2">Coba masukin data, trus ntar ke Enkripsi</p>
        <form action="/app/test/security/encrypt" method="POST">
          {{ csrfField() }}
          <textarea name="input" class="textarea textarea-bordered w-full h-48 overflow-y-auto"></textarea>

          <button type="submit" class="btn mt-6">Enkripsi</button>
        </form>
      </div>
    </div>
    <div class="divider opacity-20"></div>
    {{--  sampe sini  --}}

    {{--  copas mulai dari sini  --}}
    <div class="space-y-4">
      <h1 class="text-2xl font-semibold">Decrypt</h1>
      <div class=" max-w-sm">
        <p class="mb-2">Coba masukin data enskripsi, ntar ke decrypt</p>
        <form action="/app/test/security/decrypt" method="POST">
          {{ csrfField() }}
          <textarea name="input" class="textarea textarea-bordered w-full h-48 overflow-y-auto"></textarea>

          <button type="submit" class="btn mt-6">decrypt</button>
        </form>
      </div>
    </div>
    <div class="divider opacity-20"></div>
    {{--  sampe sini  --}}

    {{--  copas mulai dari sini  --}}
    <div class="form-control" x-data="{ radio: 0 }">
      <div class="space-y-4">
        <h1 class="text-2xl font-semibold">Deskripsi</h1>
        <div>
          <label for="">Test bisa ga dipilih</label>
          <div class="flex space-x-4 mt-1 w-full md:w-96">
            <label class="cursor-pointer items-center py-2 flex-1 rounded-box px-4 border"
              :class="(radio == 1)? 'bg-primary bg-opacity-10 border-primary': 'bg-white border-secondary'">
              <input type="radio" name="test-radio" class="radio radio-primary hidden" value="lakilaki"
                @click="if(radio==1){ radio = 0; $el.checked = false } else{ radio = 1 }">
              <span class="label-text text-base"
                :class="(radio == 1)? 'text-primary': 'text-secondary'">Laki-laki</span>
            </label>
            <label class="cursor-pointer items-center py-2 flex-1 rounded-box px-4 border"
              :class="(radio == 2)? ' bg-pink-500 bg-opacity-10 border-pink-500': 'bg-white border-secondary'">
              <input type="radio" name="test-radio" class="radio radio-primary hidden" value="perempuan"
                @click="if(radio==2){ radio = 0; $el.checked = false } else{ radio = 2 }">
              <span class="label-text text-base"
                :class="(radio == 2)? 'text-pink-500': 'text-secondary'">Perempuan</span>
            </label>
          </div>
        </div>
      </div>

    </div>
    <div class="divider opacity-20"></div>
    {{--  sampe sini  --}}



  </div>
</div>
@endsection

@section('script')
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{asset('assets/app.js')}}"></script>
<script>
  $(function () {
    $('#gambarTest').on('click', function () {
      Swal.fire({
        title: 'Foto Pegawai',
        text: 'Anda dapat mengubahnya kapanpun anda mau.',
        imageUrl: 'http://daisyui.com/tailwind-css-component-profile-1@94w.png',
        imageHeight: 400,
        imageAlt: 'Custom image',
        showDenyButton: true,
        showCancelButton: true,
        denyButtonText: 'Hapus Foto',
        cancelButtonText: 'Batal',
        confirmButtonText: 'Ubah Gambar'
      }).then((result) => {
        if (result.isConfirmed) {
          document.getElementById('bukafile').click()
        }
      })

    });


    $('button#aturTabel').on('click', function () {
      //   Kemungkinan ini bakal jadi standar
      Swal.fire({
        title: 'Atur Tabel Pembukuan',
        confirmButtonText: 'Terapkan',
        showCancelButton: true,
        cancelButtonText: 'Batal',
        confirmButtonColor: '#4b6bfb',
        html: printAturTabelHTML(),
        willOpen: () => {
          // Ambil data sort yang ada di query string URL. kalo gaada berarti default 
        },
        preConfirm: () => {
          // sanitize input dulu sebelum kirim data ke server via GET
          // make GET biar ada query stringnya
        }
      })
    });

  })


  let printAturTabelHTML = function () {

    const htmlAddStock = `
                  <div class="w-full px-6 space-y-6 flex flex-col text-left" >
                    
                    <div class="form-control">
                        <label for="swal-sort">Urutkan Tabel Berdasarkan</label>
                        <select id="swal-sort" class="select select-bordered w-full max-w-md swal mt-2">
                            <option value="nama">Nama Kerusakan</option> 
                            <option value="bentuk">Bentuk</option> 
                            <option value="perbaiki">Bisa Diperbaiki?</option>
                            <option value="ongkos">Ongkos Perbaikan</option>
                        </select>
                        <div class="flex space-x-4 mt-2" x-data="{ radio: 1 }">
                            <label class="cursor-pointer items-center py-2 flex-1 rounded-box px-4 border"
                                :class="(radio == 1)? 'bg-primary bg-opacity-10 border-primary': 'bg-white border-secondary'">
                                <input type="radio" name="swal-arahsort" checked="checked" class="radio radio-primary hidden"
                                value="asc" @click="radio = 1">
                                <span class="label-text text-base flex items-center"
                                :class="(radio == 1)? 'text-primary': 'text-secondary'">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                                        <path d="M3 3a1 1 0 000 2h11a1 1 0 100-2H3zM3 7a1 1 0 000 2h5a1 1 0 000-2H3zM3 11a1 1 0 100 2h4a1 1 0 100-2H3zM13 16a1 1 0 102 0v-5.586l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 101.414 1.414L13 10.414V16z" />
                                    </svg>
                                    A - Z
                                </span>
                            </label>
                            <label class="cursor-pointer items-center py-2 flex-1 rounded-box px-4 border"
                                :class="(radio == 2)? 'bg-primary bg-opacity-10 border-primary': 'bg-white border-secondary'">
                                <input type="radio" name="swal-arahsort" class="radio radio-primary hidden" value="desc"
                                @click="radio = 2">
                                <span class="label-text text-base flex items-center"
                                :class="(radio == 2)? 'text-primary': 'text-secondary'">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                                        <path d="M3 3a1 1 0 000 2h11a1 1 0 100-2H3zM3 7a1 1 0 000 2h7a1 1 0 100-2H3zM3 11a1 1 0 100 2h4a1 1 0 100-2H3zM15 8a1 1 0 10-2 0v5.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L15 13.586V8z" />
                                    </svg>
                                    Z - A
                                </span>
                            </label>
                        </div>
                    </div>
                      
                </div>
              `
    return htmlAddStock
  }

</script>
@endsection
