@import './tailwind.css';

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/* sweetalert2 */
@import '~sweetalert2/dist/sweetalert2.min.css';

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.true-hidden {
  display: none !important;
}

.true-partial-right-rounded {
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
  border-top-left-radius: 0rem !important;
  border-bottom-left-radius: 0rem !important;
}

.true-rounded-none {
  border-top-right-radius: 0rem !important;
  border-bottom-right-radius: 0rem !important;
  border-top-left-radius: 0rem !important;
  border-bottom-left-radius: 0rem !important;
}

.true-rounded-full {
  border-radius: 9999px !important;
}

.true-text-error {
  @apply text-error !important;
}

.true-bg-base-100{
  @apply bg-base-100 !important;
}

.true-space-x-4{
  @apply space-x-4 !important;
}

.true-text-white{
  @apply text-white !important;
}

.true-p-2{
  @apply p-2 !important;
}

/* ini dikasi simplebar yang manual mati btw, tinggal yang kelas no-select */
div.drawer-side>ul li>a {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.cant-block-text{
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.hidden-but-real {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 0;
  opacity: 0;
}

[x-cloak] {
  display: none !important;
}

#cropperjs {
  display: block;
  max-width: 100%;
}

#cropperWadah {
  display: block;
  max-width: 100%;
}
 
#cropperjs-preview {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 100%;
}

/* Biar input number gaada panahnya */
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* Extra class tailwind */
.min-h-40{
  min-height: 10rem;
}

/* biasanya buat dropdown */
.min-w-52{
  min-width: 13rem;
}

.min-h-60{
  min-height: 15rem;
}

.min-h-64{
  min-height: 16rem;
}

.min-h-80{
  min-height: 20rem;
}

.min-h-96{
  min-height: 24rem;
}

.pl-18{
  padding-left: 4.5rem;
}

/* ilang kalo ga ada isinya */
img[src=""] {
  display: none;
}

select.pl-18 > option {
  padding-right: 16px;
}

div#wadah-item-penjualan > label > input.radio:checked{
  color: blue;
  display: block;
}


div#wadah-item-penjualan input.radio:checked ~ label{
  @apply bg-primary border-0;
}


div#wadah-item-penjualan input.radio:checked ~ label > span{
  @apply text-white;
}

/* Spinner ato loading */
.loader {
  /* border-top-color: #3498db; */
  border-top-color: #4b6bfb;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.zoomable{
  cursor: zoom-in;
  transition: 0.3s;
}

.zoomable:hover{
  opacity: 0.7;
}

/* The Modal (background) */
.modal-zoomer {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 30; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-zoomer-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption-zoomer {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-zoomer-content, #caption-zoomer {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}


/* The Close Button */
.close-zoomer {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close-zoomer:hover,
.close-zoomer:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .zoomer-modal-content {
    width: 100%;
  }
}