@import './tailwind.css';

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.true-hidden {
  display: none !important;
}

.true-partial-right-rounded {
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
  border-top-left-radius: 0rem !important;
  border-bottom-left-radius: 0rem !important;
}

.true-rounded-none {
  border-top-right-radius: 0rem !important;
  border-bottom-right-radius: 0rem !important;
  border-top-left-radius: 0rem !important;
  border-bottom-left-radius: 0rem !important;
}

.true-text-error {
  @apply text-error !important;
}

.true-bg-base-100{
  @apply bg-base-100 !important;
}

.true-space-x-4{
  @apply space-x-4 !important;
}

.true-text-white{
  @apply text-white !important;
}

/* ini dikasi simplebar yang manual mati btw, tinggal yang kelas no-select */
div.drawer-side>ul li>a {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.hidden-but-real {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 0;
  opacity: 0;
}

[x-cloak] {
  display: none !important;
}

#cropperjs {
  display: block;
  max-width: 100%;
}
 
#cropperjs-preview {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 100%;
}

/* Biar input number gaada panahnya */
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* Extra class tailwind */
.min-h-40{
  min-height: 10rem;
}

.min-h-60{
  min-height: 15rem;
}

/* biasanya buat dropdown */
.min-w-52{
  min-width: 13rem;
}

.pl-18{
  padding-left: 4.5rem;
}

/* ilang kalo ga ada isinya */
img[src=""] {
  display: none;
}

select.pl-18 > option {
  padding-right: 16px;
}

div#wadah-item-penjualan > label > input.radio:checked{
  color: blue;
  display: block;
}


div#wadah-item-penjualan input.radio:checked ~ label{
  @apply bg-primary border-0;
}


div#wadah-item-penjualan input.radio:checked ~ label > span{
  @apply text-white;
}

/* Spinner ato loading */
.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}