<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tanpa Akun | Postoma</title>
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/app.css') }}">
</head>

<body>

    <div class="drawer">
        <input id="my-drawer-3" type="checkbox" class="drawer-toggle" /> 
        <div class="drawer-content flex flex-col">
          <!-- Navbar -->
          <div class="w-full navbar bg-base-300">
            <div class="flex-none lg:hidden">
              <label for="my-drawer-3" class="btn btn-square btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
              </label>
            </div> 
            <div class="flex-1 px-2 mx-2">Navbar Title</div>
            <div class="flex-none hidden lg:block">
              <ul class="menu menu-horizontal">
                <!-- Navbar menu content here -->
                <li><a>Navbar Item 1</a></li>
                <li><a>Navbar Item 2</a></li>
              </ul>
            </div>
          </div>
          <!-- Page content here -->
          <section class="h-screen">
            <div class="h-full text-gray-800 flex flex-col">
              <div class="flex-1 flex items-center justify-center p-6 ">
                <div class="space-y-10 w-full md:max-w-screen-lg min-h-80">
                  <div class="font-semibold text-3xl">Tidak punya akun?</div>
                  <div class="space-y-4">
                    <p>Aplikasi Point of Sales Toko Mas Leo adalah aplikasi yang dibuat khusus untuk lingkungan
                      ketenagakerjaan Toko Mas Leo. Anda tidak akan dapat mengakses atau melakukan pendaftaran ke sistem bila
                      anda bukan merupakan bagian dari Toko Mas Leo.</p>
      
                    <p>Jika anda adalah karyawan Toko Mas Leo baru dan belum memiliki akses ke sistem, silahkan hubungi kontak
                      berikut.</p>
                    <div>
                      <div class="px-3 py-2 border md:w-1/3">
                          <div class="font-semibold">Pemilik</div>
                          <div>Muhamad Fulan</div>
                          <div class="font-semibold text-accent-focus">0888-8888-8888 (WA)</div>
                      </div>
                    </div>
                    <div>
                      Jika anda sudah memiliki akses ke sistem, silahkan <a href="/login" class="text-primary font-semibold">Masuk.</a>
                    </div>
                  </div>
                </div>
              </div>
      
      
              <footer class="footer footer-center p-4 bg-neutral text-neutral-content">
                <div>
                  <p>Copyright © 2022 - All right reserved by Toko Mas Leo</p>
                </div>
              </footer>
            </div>
      
      
          </section>
        </div> 
        <div class="drawer-side">
          <label for="my-drawer-3" class="drawer-overlay"></label> 
          <ul class="menu p-4 overflow-y-auto w-80 bg-base-100">
            <!-- Sidebar content here -->
            <li><a>Sidebar Item 1</a></li>
            <li><a>Sidebar Item 2</a></li>
            
          </ul>
          
        </div>
      </div>

    




  <script src="{{asset('assets/guest.js')}}"></script>
</body>

</html>
